/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #d3c7f2;
}

h1 {
  font-style: italic;
  color: #5f39bf;
}

h2 {
  margin-top: 2em; 
  color: #8964e8;
}

.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}
